.list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 73px;
  margin-left: 56px;
  //   // =====
  //   width: 100%;
  //   padding-right: 56px;
  //   padding-left: 56px;
  //   display: grid;
  //   max-width: calc(100vw - 48px);
  //   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  //   grid-gap: 16px;
  //   margin-top: 0;
  //   margin-bottom: 0;
  //   padding: 0;
  //   list-style: none;
  //   margin-left: auto;
  //   margin-right: auto;
}
